<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo de Compras</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Cálculo de compras</h1>
        <form action="/ejercicio1" method="POST" style="text-align: center;">
            <label for="name">Ingresa tu nombre:</label><br>
            <input type="text" id="name" name="name" placeholder="Nombre" required><br>
            <label for="age">Ingresa tu edad:</label><br>
            <input type="number" id="age" name="age" placeholder="Edad" required><br>
            <label for="quantity">Ingresa la cantidad de tarros de pintura a comprar:</label><br>
            <input type="number" id="quantity" name="quantity" placeholder="Cantidad" required><br>
            <button type="submit" class="small-button">Calcular</button>
        </form>
        {% if show_results %}
        <div class="results" style="text-align: center;">
            <h2>Resultados</h2>
            <p>Nombre del cliente: {{ name }}</p>
            <p>Total sin descuento: ${{ total_sin_descuento|int }}</p>
            <p>Descuento aplicado: ${{ descuento_aplicado|int }}</p>
            <p>Total a pagar: ${{ total_a_pagar|int }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
